// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$font-size-title: 1.5rem;
$font-size-navbar: 1.0rem;
$font-size-star: 1.2rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: #000000;
$gray: #a9a9a9;

$font-second: #696969;

$bg-main: #e0ffff;
$bg-button: #f0ffff;
$bg-header: #4763c2;
$bg-footer: #404040;
$bg-accent: #428bca;
$bg-second: #e6e6fa;

$bd-blue: #4763c2;
$bd-main: #a9a9a9;
